<header class="container menu">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="logo" ng-if="config.logo">
            <a ui-sref="home">
                <img class="img-responsive" ng-src="{{ ::config.logo }}">
            </a>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="menu-contato">
                <div class="contato-info">
                    <div class="social-links" ng-if="config.redes_sociais">
                        <a ng-repeat="rs in config.redes_sociais track by rs.id" ng-href="{{ ::rs.link }}" class="{{ ::rs.nome }}" title="{{ ::rs.nome }}">
                            <img ng-src="/images/{{ ::rs.nome }}.svg">
                        </a>
                    </div>
                    <div class="telefone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h5 ddd telefone="config.telefone"></h5>
                        <h4 fone telefone="config.telefone"></h4>
                    </div>
                </div>
            </div>
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="home">HOME</a></li>
                        <li ui-sref-active="active"><a ui-sref="a-duesoft">A DUESOFT</a></li>
                        <li ng-class="{active: vm.state.current.name.indexOf('solucoes') !== -1}"><a ui-sref="solucoes">SOLUÇÕES</a></li>
                        <li ui-sref-active="active"><a ui-sref="clientes">CLIENTES</a></li>
                        <li ui-sref-active="active"><a ui-sref="parceria">SEJA UM PARCEIRO</a></li>
                        <li ui-sref-active="active"><a ui-sref="trabalhe-conosco">TRABALHE CONOSCO</a></li>
                        <li ui-sref-active="active"><a ui-sref="contato">CONTATO</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cliente-acesso">
                <a class="btn">ACESSO DO CLIENTE</a>
            </div>
            <div id="navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="home">HOME</a></li>
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="a-duesoft">A DUESOFT</a></li>
                    <li ng-class="{active: vm.state.current.name.indexOf('solucoes') !== -1}"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="solucoes">SOLUÇÕES</a></li>
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="clientes">CLIENTES</a></li>
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="parceria">SEJA UM PARCEIRO</a></li>
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="trabalhe-conosco">TRABALHE CONOSCO</a></li>
                    <li ui-sref-active="active"><a data-toggle="collapse" data-target="#navbar-collapse-1.in" ui-sref="contato">CONTATO</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="border-separator"></div>