<footer>
    <div class="newsletter">
        <div class="container">
            <form role="form" name="news-form">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3>Receba nossas <span>novidades</span></h3>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>Assine agora mesmo nossa newsletter:</p>
                    </div>
                    <div class="col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-6 col-lg-6">
                        <div class="input-group">
                            <input type="text" id="email" name="email" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" id="btn_register" class="btn btn-newsletter">CADASTRAR</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="logo" ng-if="config.logo">
                <a ui-sref="home">
                    <img class="img-responsive" ng-src="{{ ::config.logo }}"/>
                </a>
            </div>
            <div class="menu-contato">
                <div class="contato-info">
                    <div class="social-links" ng-if="config.redes_sociais">
                        <a ng-repeat="rs in config.redes_sociais track by rs.id" ng-href="{{ ::rs.link }}" class="{{ ::rs.nome }}" title="{{ ::rs.nome }}">
                            <img ng-src="/images/{{ ::rs.nome }}.svg">
                        </a>
                    </div>
                    <div class="telefone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h5 ddd telefone="config.telefone"></h5>
                        <h4 fone telefone="config.telefone"></h4>
                    </div>
                    <div class="endereco">
                        <h5>{{ ::config.endereco }}</h5>
                    </div>
                </div>
            </div>
            <div class="assinatura">
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 direitos">
                        <h6>© Copyright 2017 • todos os direitos reservados • duesoft</h6>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 agencia-ativa">
                        <h6>DESENVOLVIMENTO: </h6>
                        <a href="#">
                            <img src="/images/logo_ativa.png" alt="Agência Ativa" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>