/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$branco:									#FFFFFF !default;
$preto:										#000000 !default;
$main_color:								#434343 !default;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */

$gotham-light:	"Gotham Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gotham-bold:	"Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;


